@inherits LayoutComponentBase

<div class="page">
    <div class="top-row bg-dark text-white p-2">
        <a class="navbar-brand text-white" href="/">FamilyWebBlazorServer</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
