<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)">
                <NotAuthorized>
                    @{ Navigation.NavigateTo("/account/login", true); }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>Not found</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@inject NavigationManager Navigation
